.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--gray-lighter);
}

.app-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
}